<div class="footer">
  <div class="footer-links">
    <a href="#">Our Team</a>
    <%= mail_to "game-hopper-batch147@gmail.com", "Contact us" %>

  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> by a grateful team from Le Wagon Tokyo
  </div>
</div>
