<div class="footer">
  <div class="footer-links">
    <a href="#">Our Team</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Careers</a>
    <a href="#">Contact us</i></a>

  </div>
  <div class="footer-copyright">
    This website is made with <i class="fa fa-heart"></i> at Grateful
  </div>
</div>
