<%= content_for(:title) do %>
Game Hopper-Landing
<% end %>
<div class="games-container">

  <div class="title-container">

    <div class="home-title">
     <h1>WELCOME TO GAME HOPPER</h1>
    </div>

  </div>

   <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://s3-us-west-2.amazonaws.com/sleuthjournal/wp-content/uploads/2017/08/10170428/Video-Games-1024x683.jpeg" alt="Los Angeles">
    </div>
    <div class="item">
      <img src="https://fortunedotcom.files.wordpress.com/2015/03/the_london_heist.jpg" alt="Chicago">
    </div>
    <div class="item">
      <img src="http://s3-us-west-2.amazonaws.com/sleuthjournal/wp-content/uploads/2017/08/10170428/Video-Games-1024x683.jpeg" alt="New York">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


    <h2>Complete Games List</h2>

    <div class="card-grid">
      <div class="row">
        <% @games.each do |game| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path game.photo, crop: :fill %>');">
            <div class="card-platform">
                <%= game[:platform] %>
            </div>
            <div class="card-title">
              <h2><%= link_to game.title, game_path(game) %></h2>
            </div>
            <% link_to game.title, game_path(game), class:"card-link" %>
          </div>
        </div>

        <% end %>
      </div>
    </div>


</div>
