.carousel {
  margin: 0px auto;
  background: hsla(0,0%,100%,.020);
  opacity: 0.9;
}
.carousel-inner > .item > img {
  position: relative;
  width: 100%;
  height: 300px;
}
.carousel-caption h1 {
  font-size: 45px;
}
.btn-carousel {
  position: absolute;
  bottom: 5px;
  right: 0px;
}
.title-carousel {
  position: absolute;
  bottom: -15px;
  left: 10px;
  color: white;
}
.title-carousel h5 {
  margin: -14px;
}
.title-carousel h3 {
  color: white;
}
