.background-image{
    background-image: url('createnew.jpg');
    h2 {
      color:white;
    }
}
.form-horizontal{
  padding: 30px;
}

.create-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
