/* Importing the font */
@import url('https://fonts.googleapis.com/css?family=Glegoo');

/* Global container */
.games-container {
  padding: 0px;
  margin: 20px;
}

/* Container for the title and subtitle */
.title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-title h1, h2, h3, p {
  width: 100%;
  font-family: 'Glegoo', serif;
  text-align: center;
  font-weight: 400;
  color: white;
  display: inline-block;
}

.home-title h1 {
  font-size: 30px;
  font-weight: bold;
}

.games-container > h2 {
  font-size: 25px;
  text-align: left;
  padding: 10px 30px;
  text-align: center;
}

/* Body and background */

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  margin: 0px;
  background-color: #1A6473;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* Cards */


.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
  background: white;
  height: 320px;
  border: 1px solid #e0e0e0;
}


.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #D3D3D3;
  border-radius: 3px;
  opacity: 0.9;
}

.card:hover {
  opacity: 1;
}

.card-platform {
  font-size: fit-width;
  text-transform: uppercase;
  color: #949494;


}
.card-title {
  margin-top: 5px;
  color: gray;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.card-title h2 a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.deadlink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deadlink h2 {
  padding: 45px;
}

.image-404 {
  padding: 40px;
}

.card-game-home {
  margin: 20px 0;
}
