h5 {
  font-family: 'Glegoo', serif;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  color: black;
}

h6 {
  font-family: 'Glegoo', serif;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  color: black;
}
