.sign-image{
    background-image: url('createnew.jpg');
    background-size: cover;
    height: 100vh;
    h2 {
      color:white;
    }
}

.create-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  color: white;
}

#game_photo {
  color: white;
}
