.sign-image{
  background-image: url('https://res.cloudinary.com/le-wagon-hcquach/image/upload/v1527838928/video-games-super-mario-galaxy-1920x1080-55914_1.jpg');
  background-size: cover;
  height: 100vh;
  h2 {
    color:white;
  }
}

.create-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group > label {
  color: white;
}

#game_photo {
  color: white;
}
