@import url('https://fonts.googleapis.com/css?family=Glegoo');

.single-game-container {
  position: sticky !important;
  display: flex;
  justify-content: space-between;
}

.single-game-container h1 {
  left: 0;
  width: 100%;
  font-family: 'Glegoo', serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;
  color: white;
  display: inline-block;
  border-bottom: 1px solid white;
  padding: 0em .5em .6em;
}

.single-game-container h2 {
  width: 100%;
  font-family: 'Glegoo', serif;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
  line-height: 1em;
  color: white;
  display: inline-block;
  padding: .5em .6em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1A6473;
}

.nav-xbox, .nav-ps4, .nav-switch {
  left: 0;
  height: 69px;
  width: 100%;
  font-family: 'Glegoo', serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;
  color: white;
  line-height: 1em;
  display: inline-block;
  border-bottom: 1px solid white;
  padding: 0em .5em .6em;
  border-radius: 5px 0px 0px 0px;
}

.nav-xbox {
  background: linear-gradient(-10deg, #1A711A, #348D33);
  background-image: image-url("xbox.png");
  background-size: cover;
}

.nav-ps4 {
  background: linear-gradient(-10deg, #294B8E, #2D93C8);
  background-image: image-url("ps4.png");
  background-size: cover;
}

.nav-switch {
  background: linear-gradient(-10deg, #F90E24, #DD0B1F);
  background-image: image-url("switch.png");
  background-size: cover;
}

.game-photo {
  background-size: cover;
  height: 80vh;
  width: 300px;
  border-radius: 5px 0px 0px 5px;
}

.game-info {
  background: linear-gradient(-10deg, #0B314A, #134F63);
  // background: #0B314A;
  height: 80vh;
  width: 300px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.btn-rent {
  font-family: 'Glegoo', serif;
  color: #2d2d2d;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.btn-delete {
  font-family: 'Glegoo', serif;
  color: #2d2d2d;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
